/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: lightblue;
    line-height: 1.5;

    box-sizing: border-box;
    }

    img {
max-width: 100%;
    }
/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3 {
color: papayawhip;
    font-family: 'Noto Serif JP', serif;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        color: navy;
    }

    p {
        font-size: 16px;
    color: navy;
    font-family: 'Cormorant Garamond', serif;
    }
/* -------------------- LAYOUTS */
.content { 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 3%;
    padding-right: 3%;


}
/* -------------------- HEADER */
header { 
    background-color: peachpuff;
    padding-top: 50px;
    padding-bottom: 20px;
}

header h1{
    margin-top: 0;
}
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
/* -------------------- MODULES */


