/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: lightblue;
    }
/* -------------------- HEADINGS AND TYPE */
h1 {
    font-size: 55px;
    color: papayawhip;
    font-family: georgia;
    }

    h2 {
        font-size: 25px;
        color: navy;
    }

    p {
        font-size: 18px;
    color: navy;
    font-family: baskerville;
    }
/* -------------------- LAYOUTS */
/* -------------------- HEADER */
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
/* -------------------- MODULES */


