/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: lightblue;
    }

    img {
max-width: 100%;
    }
/* -------------------- HEADINGS AND TYPE */
h1,
h2,
h3 {
    font-size: 55px;
    color: papayawhip;
    font-family: 'Noto Serif JP', serif;
    }

    h2 {
        font-size: 25px;
        color: navy;
    }

    p {
        font-size: 18px;
    color: navy;
    font-family: 'Cormorant Garamond', serif;
    }
/* -------------------- LAYOUTS */
.content { 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;


}
/* -------------------- HEADER */
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
/* -------------------- MODULES */


